@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("./typography.styles.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --prezly-accent-color: #2563eb;
        --prezly-accent-color-dark: #1453dc;
        --prezly-accent-color-darker: #1248bf;
        --prezly-accent-color-light: #3f76ed;
        --prezly-accent-color-lighter: #5b8af0;
        --prezly-accent-color-button-text: #ffffff;
        --prezly-header-link-color: #374151;
        --prezly-header-link-hover-color: #374151;
        --prezly-placeholder-background-color: #dbeafe;
    }
}
